/**
 * Site header
 */

.wrapper .container {
  max-width: 90rem;
}

.site-header {
  text-align: center;
}


/**
 * Navbar (header.html)
 */

#navbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: $color-darkgray;

  .nav-container {
    position: relative;
    margin: auto;
    max-width: 90rem;
    height: 100%;
  }

  #nav-brand {
    height: 100%;
    position: absolute;
    left: 0;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      height: 100%;
    }
    span {
      padding-left: .7em;
      font-size: .9em;
      font-weight: 400;
    }
  }

  #user-nav {
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: .9em;
      &:hover {
        color: $color-primary;
        svg {
          fill: $color-primary;
        }
      }
    }
  }
}


/**
 * Site footer
 */

#social-media-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    padding: .3em;
    &:hover {
      -webkit-filter: invert(50%);
    }
  }
}

#footer-trademark {
  text-align: center;
  display: block; // margin-top: 1rem;
  margin-bottom: 2rem;
}
