/**
 * Blog Posts
 */

.post-nav {
  text-align: center;
  padding: 1rem;
}

.post-header {
  text-align: center;
}

.post-title {
  font-family: 'Open Sans';
}

.post-info {
  font-family: 'Open Sans';
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: solid 1px $color-tertiary;

  .post-info-tags {
    width: 50%;
    margin: 1em auto 0;
  }
}

.tag-badge {
  display: inline-block;
  font-family: 'Open Sans';
  background: $color-blue;
  padding: 0.3em .55em;
  margin: .3em;
  border-radius: 3px;
  font-size: .8em;
}